@import "tailwindcss";


@theme {

    --color-sigma-red: #DC2626;
    --color-sigma-orange: #F97316;
    --color-sigma-yellow: #EAB308;
    --color-sigma-green: #16A34A;
    --color-sigma-dark: #111827;

}
