fastapi
uvicorn

# HTTP client untuk NASA POWER / NASA FIRMS (dan data pipeline)
requests

pydantic
python-dotenv

numpy
pandas

scikit-learn
xgboost
lightgbm

joblib

sqlalchemy
psycopg2-binary

python-multipart